.category {
  height: 350px;
  width: 350px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.category img {
  width: 100%;
  object-fit: contain;
  max-height: 250px;
  padding: 0px 10px;
}

.category a {
  text-decoration: none;
  color: rgb(35, 35, 35);
}

.category h3,
.category p {
  padding: 5px;
  margin-left: 15px;
}

.category p {
  font-size: 12px;
  font-weight: bold;
  color: rgb(9, 132, 209);
}

/* CategoryMain CSS */
.categoryContainer {
  position: relative;
  margin-top: -10%;
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  place-items: center;
  /* gap: 20px; */
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  .categoryContainer {
    grid-template-columns: repeat(2, 1fr); 
  }
}

@media (max-width: 480px) {
  .categoryContainer {
    grid-template-columns: 1fr; 
  }
}
