.category {
  height: 350px;
  width: 320px;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  position: relative;
}

.category img {
  width: 100%;
  object-fit: contain;
  max-height: 250px;
  padding: 0px 10px;
  background-color: #ffffff;
}
.category a {
  text-decoration: none;
  color: rgb(35, 35, 35);
}

.category p {
  color: #1791dd;
  position: absolute;
  left: 0;
}

.category h3,
.category p {
  padding: 10px;
  margin-left: 15px;
  text-align: center;
}
.specialItem img {
  margin-bottom: 50px;
  background-color: blue;
}
/* CategoryMain css */
.categoryContainer {
  position: relative;
  margin-top: -18%;
  margin-inline: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  max-width: 1600px;
  gap: 50px;
  place-items: center;
}
