.container {
  background-color: #efeeee;
  padding: 30px;
}
.ordersContainer {
  background-color: #fff;
  padding: 20px;
}
.ordersContainer h2 {
  border-bottom: 2px solid var(--primary-shade);
  padding: 20px;
}
.ordersContainer p {
  padding: 12px;
}
.ordersContainer img {
  width: 100px !important;
}
.ordersContainer div {
  height: auto !important;
}
.noOrder {
  padding: 20px;
}
